FSQ_API_KEY=
FSQ_CENTER_LAT=
FSQ_CENTER_LON=
OPENAI_API_KEY=
DB_NAME=AppDev
DB_USER=postgres
DB_PASSWORD=1234
DB_HOST=localhost
DB_PORT=5432

PGADMIN_DEFAULT_EMAIL=test@gmail.com
PGADMIN_DEFAULT_PASSWORD=qwerty
JWT_SECRET=your secret
